{% extends "layout.html" %}


{% block pageTitle %}
  Do you travel to the EU for business? - Get ready for Brexit: check what you need to do - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/get-ready-for-brexit/do-you-work-or-study"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Do you travel to the EU for business?</h1>
        </legend>

        <p>This also includes Iceland, Liechtenstein, Norway and Switzerland.</p>

        <p>Business travel includes activities such as travelling for meetings and conferences, providing services, and touring art or music.</p>

        {{ govukRadios({
          idPrefix: "do-you-travel-to-the-eu-on-business",
          name: "do-you-travel-to-the-eu-on-business",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("do-you-travel-to-the-eu-on-business", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("do-you-travel-to-the-eu-on-business", "No")
            }
          ]
        }) }}

      </fieldset>

      {{ govukDetails({
        summaryText: "Why am I being asked this question?",
        html: "<p>After Brexit the rules for business travel to the EU will change.</p><p>We need to know if you travel to the EU for business so we can show you what you need to do before you travel.</p>"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>

</div>

{% endblock %}
