{% extends "layout.html" %}


{% block pageTitle %}
  Get ready for Brexit on 31 October 2019: check what you need to do - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Brexit"
    }
  ]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get ready for Brexit on 31 October 2019: check what you need to do</h1>

    <p>Use this checker to find out what you or your business will need to do to get ready for Brexit.</p>

    {{ govukButton({
      text: "Start now",
      href: "/get-ready-for-brexit/what-nationality-are-you",
      isStartButton: true
    }) }}

  </div>

</div>

{% endblock %}
