{% extends "layout.html" %}


{% block pageTitle %}
  Brexit: check what you need to do if there is no deal
{% endblock %}


{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Brexit"
    }
  ]
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Brexit: check what you need to do if there is no deal</h1>

    <p>A Brexit deal has been agreed in principle with the EU.</p>

    <p>Both the UK and the EU need to approve and sign the withdrawal agreement.</p>

    <p>If the withdrawal agreement is not signed by the UK and the EU, the UK could still leave with no deal on 31 October 2019. Find out what you, your family, or your business should do if the UK leaves the EU with no deal.</p>

    {{ govukButton({
      text: "Start now",
      href: "/get-ready-for-brexit/what-nationality-are-you",
      isStartButton: true
    }) }}

  </div>

</div>

{% endblock %}
