{% extends "layout.html" %}


{% block pageTitle %}
  Where do you plan to travel for leisure and tourism? - Get ready for Brexit: check what you need to do - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/get-ready-for-brexit/do-you-travel-to-the-eu-for-business"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <fieldset class="govuk-fieldset" aria-describedby="where-do-you-plan-to-travel-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">Where do you plan to travel for leisure and tourism?</h1>
        </legend>

        <span class="govuk-hint" id="where-do-you-plan-to-travel-hint">Select all that apply. If you do not plan to travel, select next.</span>

        <div class="govuk-form-group">

          <div class="govuk-checkboxes">

            {% if data['where-do-you-live'] != 'UK' %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="where-do-you-plan-to-travel" name="where-do-you-plan-to-travel[]" type="checkbox" value="To the UK" {{ checked("where-do-you-plan-to-travel", "To the UK") }}>
              <label class="govuk-label govuk-checkboxes__label" for="where-do-you-plan-to-travel">To the UK</label>
            </div>
            {% endif %}

            {% if data['where-do-you-live'] != 'Ireland' %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="where-do-you-plan-to-travel-2" name="where-do-you-plan-to-travel[]" type="checkbox" value="To Ireland" {{ checked("where-do-you-plan-to-travel", "To Ireland") }}>
              <label class="govuk-label govuk-checkboxes__label" for="where-do-you-plan-to-travel-2">To Ireland</label>
            </div>
            {% endif %}

            {% if data['where-do-you-live'] != 'Another EU country' %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="where-do-you-plan-to-travel-3" name="where-do-you-plan-to-travel[]" type="checkbox" value="To another EU country" {{ checked("where-do-you-plan-to-travel", "To another EU country") }}>
              <label class="govuk-label govuk-checkboxes__label" for="where-do-you-plan-to-travel-3">To another EU country, Iceland, Liechtenstein, Norway or Switzerland</label>
            </div>
            {% endif %}

            {% if data['where-do-you-live'] != 'Somewhere else' %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="where-do-you-plan-to-travel-4" name="where-do-you-plan-to-travel[]" type="checkbox" value="To the rest of the world" {{ checked("where-do-you-plan-to-travel", "To the rest of the world") }}>
              <label class="govuk-label govuk-checkboxes__label" for="where-do-you-plan-to-travel-4">To the rest of the world</label>
            </div>
            {% endif %}

          </div>

        </div>

      </fieldset>

      {{ govukDetails({
        summaryText: "Why am I being asked this question?",
        html: "<p>After Brexit the rules for travelling abroad will change.</p><p>We need to know where you plan to go so we can show you what you need to do before you travel.</p>"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>

</div>

<!--p>{{data|dump|safe}}</p-->

{% endblock %}
