
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <p class="govuk-body-l">Dynamic list results page examples for testing.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/results/v1/">Version 1</a> (EU national and business)</li>
        <li><a href="/results/v2/">Version 2</a> (UK national and business)</li>
        <li><a href="/results/v3/">Version 3</a> (EU national)</li>
        <li><a href="/results/v4/">Version 4</a> (UK national)</li>
      </ul>

    </div>

</div>

{% endblock %}
