
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      The GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}

    <h2 class="govuk-heading-m">Results variation (v.1)</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v1">EU national and business</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v2">UK national and business</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v3">EU national</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v4">UK national</a></li>
    </ul>

    <h2 class="govuk-heading-m">Results variation (v.2)</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/get-ready-for-brexit/results/uk-national-and-business-mvp">UK national and business (MVP)</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/get-ready-for-brexit/results/uk-national-and-business">UK national and business</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/get-ready-for-brexit/results/uk-national">UK national</a></li>
    </ul>

    <h2 class="govuk-heading-m">Question flow with result</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/get-ready-for-brexit">Get ready for Brexit</a></li>
    </ul>

  </div>

</div>

{% endblock %}
