
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-s">Dynamic list results page examples for testing</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v1/">Version 1</a> (EU national and business)</li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v2/">Version 2</a> (UK national and business)</li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v3/">Version 3</a> (EU national)</li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/results/v4/">Version 4</a> (UK national)</li>
      </ul>

      <h2 class="govuk-heading-s">Questions and results</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/get-ready-for-brexit/">Get ready for Brexit</a></li>
      </ul>

    </div>

</div>

{% endblock %}
